:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --accent-cl: #ff6c00;
    --main-txt-cl: #555555;
    --secondary-txt-cl: #ffffff;

    /* bacground colors */
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #f7f7f7;
    --dark-bg-cl: #191c26;
body

     { --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    background-color: #FFFFFF;}
a{text-decoration: none;}
/*Шапка*/
header {}
.logo{font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #2196F3;}
.logo-black{font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;}

a{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;} 
a:hover {color:#2196F3;}

/*Навигация*/
.studio {}

.portfolio {}

.contakt {}
/*Контакты*/

.mail_header {}

.tel_header {}




/*Герой*/
.hirro {background: #2F303A;}
/**/

.title {font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;}